<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jamalludin.pamfun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Awal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <activity
                android:name="info.androidhive.camerafileupload.UploadActivity"
                android:screenOrientation="portrait" >
            </activity>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Daftar"
            android:label="@string/title_activity_daftar" >
        </activity>
        <activity
            android:name=".Keluar"
            android:label="@string/title_activity_keluar" >
        </activity>
        <activity
            android:name=".Tes"
            android:label="@string/title_activity_tes" >
        </activity>
        <activity
            android:name=".Daftar1"
            android:label="Daftar" >
        </activity>
        <activity
            android:name=".Login1"
            android:label="Login" >
        </activity>
    </application>

    <activity android:name=".FullImage"></activity>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>
